.navbar {
    background: transparent;
}

.topbar {
    width: 100%;
    height: 100px;
    /* background-color: #010101!important; */
    color: rgb(161 161 163)!important;
    position: absolute;
    top: 0;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15%;
    height: 100px;
}

.brand {
    font-family: 'Dancing Script', cursive!important;
    font-weight: bolder!important;
    font-size: 3.5rem!important;
    margin-right: 30px!important;
    color: rgb(161 161 163)!important;
}

.brandItems {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brandItem {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin: 0 20px;
    cursor: pointer;
}

.brandItem:hover {
    color: white;
}

.brandItem i {
    font-size: 20px;
    margin-left: 10px;
}

.brandItems button {
    margin: 0;
    color: rgb(161 161 163)!important;
    border-color: rgb(161 161 163)!important;
    font-family: 'Ubuntu', sans-serif!important;
    font-size: 20px!important;
}

.brandItems button:hover {
    margin: 0;
    background-color: rgb(161 161 163);
    border-color: rgb(161 161 163);
    color: black!important;
}

.brandItems button:focus {
    margin: 0;
    color: rgb(161 161 163)!important;
    border-color: rgb(161 161 163)!important;
    font-family: 'Ubuntu', sans-serif!important;
    font-size: 20px!important;
}

.navbar-toggler{
    color: rgb(161 161 163)!important;
    font-size: 2rem;
}

@media (max-width: 500px) {
    .content {
        padding: 0 3%;
    }
}